[submodule "fathomdb-shared"]
	path = fathomdb-shared
	url = https://github.com/fathomdb/fathomdb-shared.git
[submodule "wink"]
	path = wink
	url = https://github.com/fathomdb/wink.git
[submodule "keyczar"]
	path = keyczar
	url = https://github.com/fathomdb/keyczar.git
[submodule "scripts/sshvpn"]
	path = scripts/sshvpn
	url = https://github.com/fathomdb/sshvpn.git
